body{
	margin: 0px;
	font-size: 18pt;
	background-color: #000099;
}
.titlebar{
	height: 100px;
	background-color: #FFFF00;
	color: white;
	text-align: center;
}
#h1{
	font-size: 60pt;
	font-weight: bold;
}
.h2{
	font-size: 28pt;
	/*margin-left: 10%;*/
	margin-top: 15px;
	margin-bottom: 15px;
	font-weight: bold;
}
.h3{
	font-size: 24pt;
	font-weight: bold;
	line-height: 130%;
}
.h4{
	font-size: 18pt;
	line-height: 130%;
}
ul {
    list-style-type: circle;
    /*padding: 0px;*/
    margin: 5px;
}
li {
	display: list-item;
	margin-left: 1em;
	list-style: disc outside none;
}
.indent{
	margin-left: 50px;
}
#navigation{
	background-color: #808080;	
	color: white;
	text-align: center;
	height: 50px;
}
#main{
	width:75%;
	display:inline;
	float:left;
	padding: 10px;
}
#sidebar{
	width: 25%;
	display:inline;
	background-color: #C2C2C2;
	float: right;
	padding: 10px;
	text-align: center;
	position:fixed;
}
.inline-image{
	float: left;
	display: inline;
	margin: 10px;
	size: 25%;
}
